<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="description de la page" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="style.css">
        <title>ORINOCO</title>
        
    </head>
 <body>
      <header>
        <section id="sectionnav">
          <a href="index.html" id="logo" target="_blank">Orinoco</a>
      
          <label for="toggle-1" class="toggle-menu"><ul><li></li>  <li></li></ul></label>
          <input type="checkbox" id="toggle-1">
      
          <nav>
            <ul>
              <li><a href="index.html">Accueil</a></li>
              <li><a href="panier.html">Panier</a></li>
            </ul>
          </nav>
      </header>
  
      <h2>Votre achat a bien été valider Voici le récapitulatifs</h2>
      <div>
        <h3 id="identifiant"></h3>
        <h4 id="prix"></h4>
      </div>
   
      </div>
  
      <script src="confirmation.js"></script> 
  </body>
</html>
