<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Panier</title>
</head>
<body>
  <header>
    <section id="sectionnav">
      <a href="index.html" id="logo" target="_blank">Orinoco</a>
  
      <label for="toggle-1" class="toggle-menu"><ul><li></li>  <li></li></ul></label>
      <input type="checkbox" id="toggle-1">
  
      <nav>
        <ul>
          <li><a href="index.html">Accueil</a></li>
          <li><a href="panier.html">Panier</a></li>
        </ul>
      </nav>
  </header>
      <div id="paniervide">
          <h2>votre panier est vide , voulez vous retourner voir les articles ?</h2>
          <button onclick="window.location.href='index.html'" class="btn" >voir les produits</button>
            
      </div>

    <div id="paniergarnis">
        <h2> voici les contenants de votre panier :</h2>
        <div id="articlepanier" class=""> </div>

          <div class="container">  
            <form id="contact" action="" method="post">
              <h3>Formulaire de contact </h3>
              <h4>VEUILLEZ REMPLIR LE FORMULAIRE AFIN DE FINALISER LA TRANSACTION </h4>
              <fieldset>
                <input id="name" placeholder="Nom " type="text"  name="name" tabindex="1" required="required" autofocus>
              </fieldset>
              <fieldset>
                <input id="prenom" placeholder="prénom" type="text" name="name" tabindex="2" required="required" autofocus>
              </fieldset>
              <fieldset>
                <input id="email" placeholder="Votre adresse email" pattern=".+@beststartupever.com"  type="email" tabindex="3" required="required">
              </fieldset>
            
              <fieldset>
                <input id="adresse" placeholder="Votre adresse" type="text" tabindex="4" required="required">
              </fieldset>
              <fieldset>
                <input id="ville" placeholder="Ville" type="text" tabindex="5" required="required">
              </fieldset>
              
              <fieldset>
                <button name="submit" disabled   type="submit"  id="contact-submit" data-submit="...Sending">Envoyer</button>
              </fieldset>
            </form>
           
            
    </div>
  </div>     
      

      
    <script src="panier.js"></script>
</body>
</html>