<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title >Ours en peluche fait main</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <label class="navbar-toggle" id="js-navbar-toggle" for="chkToggle">
                    <i class="fa fa-bars"></i>
                </label>
            <a href="#" class="logo">logo</a>
            <input type="checkbox" id="chkToggle"></input>
            <ul class="main-nav" id="js-menu">
              <li>
                <a href="index.html" class="nav-links">Accueil</a>
              </li>
              <li>
                <a href="panier.html" class="nav-links">Panier</a>
              </li>
            </ul>
          </nav>
          
      </header>
      <div class="ficheProduit">
        <h2> Fiche produit :</h2>
        <div id="container"></div>
        
           <div id="carteP">
             <img src=""  id="imageP"  alt="image du produit">
             <h3 id="titre"></h3>
             <p id="description"></p>
             <h4 id="prix"></h4>
             <p id="selection"></p>
             <select id="lists">
               <option id="option"></option>
             </select>
              <a href="" id="btn"></a>
            
           </div>
       
        </div>

  <script src="produit.js"></script>  
</body>
</html>