<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title></title>
</head>
<body>
  <header>
    <section id="sectionnav">
      <a href="index.html" id="logo" target="_blank">Orinoco</a>
  
      <label for="toggle-1" class="toggle-menu"><ul><li></li>  <li></li></ul></label>
      <input type="checkbox" id="toggle-1">
  
      <nav>
        <ul>
          <li><a href="index.html">Accueil</a></li>
          <li><a href="panier.html">Panier</a></li>
        </ul>
      </nav>
  </header>
      <div class="ficheProduit">
        <h2> Fiche produit :</h2>
        <div id="container"></div>
        
           <div id="carteP">
             <img src=""  id="imageP"  alt="image du produit">
             <h3 id="titre"></h3>
             <p id="description"></p>
             <h4 id="prixp"></h4>
             <p id="selection"></p>
             <div id="sel2"> 
              <select id="lists">
                <option id="option"></option>
              </select>
               <a href="" id="btn"></a>
             </div>
            
            
           </div>
       
        </div>

  <script src="produit.js"></script>  
</body>
</html>