* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
  }
  
  body {
    margin: auto;
    font-family: "Open Sans", sans-serif;
  }
  #sectionnav {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    display: table;
    position: relative;
  }
  h1 {
    margin: 0px auto;
    display: table;
    font-size: 26px;
    padding: 40px 0px;
    color: #002e5b;
    text-align: center;
  }
  h1 span {
    font-weight: 500;
  }
  
  header {
    width: 100%;
    display: table;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
    margin-bottom: 50px;
  }
  #logo {
    float: left;
    font-size: 24px;
    text-transform: uppercase;
    color: #002e5b;
    font-weight: 600;
    padding: 20px 0px;
  }
  nav {
    width: auto;
    float: right;
  }
  nav ul {
    display: table;
    float: right;
  }
  nav ul li {
    float: left;
  }
  nav ul li:last-child {
    padding-right: 0px;
  }
  nav ul li a {
    color: #002e5b;
    font-size: 18px;
    padding: 25px 20px;
    display: inline-block;
    transition: all 0.5s ease 0s;
  }
  nav ul li a:hover {
    background-color: #002e5b;
    color: #fde428;
    transition: all 0.5s ease 0s;
  }
  nav ul li a:hover i {
    color: #fde428;
    transition: all 0.5s ease 0s;
  }
  nav ul li a i {
    padding-right: 10px;
    color: #002e5b;
    transition: all 0.5s ease 0s;
  }
  
  .toggle-menu ul {
    display: table;
    width: 25px;
  }
  .toggle-menu ul li {
    width: 100%;
    height: 3px;
    background-color: #002e5b;
    margin-bottom: 4px;
  }
  .toggle-menu ul li:last-child {
    margin-bottom: 0px;
  }
  
  input[type="checkbox"],
  label {
    display: none;
  }
  
  .content {
    display: table;
    margin-bottom: 60px;
    width: 900px;
  }
  .content h2 {
    font-size: 18px;
    font-weight: 500;
    color: #002e5b;
    border-bottom: 1px solid #fde428;
    display: table;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .content p {
    font-size: 14px;
    line-height: 22px;
    color: #7c7c7c;
    text-align: justify;
  }
 
.image{
    width: 100%;
    height:60%;
}
.carte{
   padding: 0;
   margin: 0;
   width: 100%;
   height: 100%;
}
.cartes{
   
    margin-bottom:50px ;
    margin-right: 10px;
    width: 30%;
    height: 500px;
    padding: 2px;
    border-style: solid;
    border-color: gray;

}
#container{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
img{
    text-align: center;
}
h2{
    margin-top:5%;
   text-align: center;
    
}

.titre{
    margin: 10px;
}
p{
    margin:10px;

}
.prix{
    margin: 10px;
}
.btn{
    margin-left:20%;
    line-height: 30px;
    font-weight: bold;
    padding: 0 40px;
    background: #000;
    color: #fff;
    border: none;
    width: 40%;
}


a, a:hover, a:visited, a:active {
    text-decoration: none;
   
}
.ficheProduit{
  width: 50%;
  height: 500px;
  margin-bottom: 10%;
  margin: auto;
}
#carteP{
  width: 100%;
  height: auto;
  padding: 2px;
  border-style: solid;
  border-color: gray;
 
 
}

#sel2{
  margin: 30px;

}
#imageP{
  width: 100%;
  height: 70%;
}

#paniervide h2 {
  margin-bottom: 3%;
}
#paniervide .btn{
  margin-left: 30%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	
	padding:25px;
	margin:50px 0;
}

#contact h3 {
  text-align: center;
  font-size: 30px;
	display: block;
	margin: 2%;
	
}

#contact h4 {
  text-align: center;
	margin:2%;
	display:block;
  font-size:20px;
  
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
#articlepanier{
  display: block;
}

.invisible{
  display: none;
}

div.cartep{
  max-width: 900px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  height: 150px;
  border-style: solid;
    border-color: gray;
    margin-bottom: 3%;
    margin-top: 2% ;
  
}
.cartep .imagep{
  margin-left: 0;
  height:100%;
  width: 250px;
}
.titrep{
  text-align: center;
  margin-top: 5%;
  
}
.prixp{
  text-align: center;
  margin-top: 5%;
}

.btn1{
  height: 35px;
  margin-right: 10px;
  background-color: red;
  
}
.btn2{

  height: 35px;
  background-color: green;
}

#identifiant{
  font-size: 2em;
  margin: 20px;
  text-align: center;
  color: green;
}
#prix{
  font-size: 2em;
  margin: 20px;
  color: green;
  text-align: center;

}
#container2{

}
 
  
@media only screen and (max-width: 1440px) {
  #sectionnav {
    max-width: 95%;
  }
}

@media only screen and (max-width: 980px) {
  header {
    padding: 20px 0px;
  }
  #logo {
    padding: 0px;
  }
  input[type="checkbox"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
    background: none;
  }
  input[type="checkbox"]:fous {
    background: none;
  }
  label {
    float: right;
    padding: 8px 0px;
    display: inline-block;
    cursor: pointer;
  }
  input[type="checkbox"]:checked ~ nav {
    display: block;
  }

  nav {
    display: none;
    position: absolute;
    right: 0px;
    top: 53px;
    background-color: #002e5b;
    padding: 0px;
    z-index: 99;
  }
  nav ul {
    width: auto;
  }
  nav ul li {
    float: none;
    padding: 0px;
    width: 100%;
    display: table;
  }
  nav ul li a {
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    display: block;
    border-bottom: 1px solid rgba(225, 225, 225, 0.1);
  }
  nav ul li a i {
    color: #fde428;
    padding-right: 13px;
  }

}

@media only screen and (max-width: 980px) {
  #container{
    display: block;
  }
  section.cartes{
    width: 70%;
    margin: auto;
    margin-bottom: 3%;
  }
  .content {
    width: 90%;
  }
}

@media only screen and (max-width: 568px) {
  h1 {
    padding: 25px 0px;
  }
  h1 span {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  #sectionnav {
    max-width: 90%;
  }
}

@media only screen and (max-width: 360px) {
  h1 {
    font-size: 20px;
  }
  label {
    padding: 5px 0px;
  }
  #logo {
    font-size: 20px;
  }
  nav {
    top: 47px;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    padding: 20px 0px;
  }
}